* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.col-6 {
  width: 50%;
  padding: 15px;
}

.col-4 {
  width: 33.333%;
  padding: 15px;
}

.col-2 {
  width: 16.66%;
}

.price-row .col-4 {
  padding: 25px;
}

.inner-header {
  display: flex;
  gap: 155px;
  justify-content: space-between;
  padding: 50px 0;
  align-items: center;
}

.nav-link {
  font-size: 16px;
  color: #4f5665;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
}

.section-description {
  color: #4F5665;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

ul {
  display: flex;
  gap: 40px;
  align-items: center;
}

li {
  list-style: none;
}

li a {
  color: #4F5665;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.introw {
  margin-bottom: 100px;
}

.section-intro h1 {
  color: #0B132A;
  font-size: 50px;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  line-height: 70px;
}

.section-intro button {
  border-radius: 10px;
  background: #FFF;
  color: #F53838;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 17px 77px;
  border: 1px solid #F53838;
  transition: 0.4s;
}

.provide-section {
  padding: 150px 150px 80px;
}

.burger-menu {
  display: none;
}

.section-intro button:hover {
  background: #F53838;
  color: #FFF;
  box-shadow: 0px 32px 21px -14px rgba(245, 56, 56, 0.32);
}

.want-box {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.want-box p {
  padding: 20px 0 50px;
}

.provide-box {
  height: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 80px;
}

.provide-box h2 {
  color: #0B132A;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.provide-box p {
  color: #4F5665;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.check-descrip {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.check-descrip div {
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
}

.btn-wrapper button:nth-child(2) {
  border-radius: 50px;
  border: 1px solid #F53855;
  color: #F53855;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  transition: 0.6s;
  padding: 13px 45px;
}

.btn-wrapper button:nth-child(2):hover {
  background: #F53838;
  color: #FFF;
  box-shadow: 0px 32px 21px -14px rgba(245, 56, 56, 0.32);
}

.btn-wrapper button:nth-child(1) {
  color: #0B132A;
  font-size: 15px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: none;
  border: none;
}

.btn-wrapper {
  display: flex;
  gap: 30px;
}

.users {
  display: flex;
  gap: 37px;
}

.locations {
  display: flex;
  gap: 37px;
}

.servers {
  display: flex;
  gap: 37px;
}

.low-cont hr {
  height: 125px;
  color: rgba(238, 239, 242, 1);
}

.low-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 60px 32px -2px rgba(212, 212, 212, 0.32);
  padding: 38px;
}

.low-cont h2 {
  color: #0B132A;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.low-cont p {
  color: #4F5665;
  font-size: 20px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.price-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.price-section h1 {
  color: #0B132A;
  text-align: center;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.price-section p {
  color: #4F5665;
  text-align: center;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0 60px;
}

.price-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-box {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.first-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.first-part h3 {
  color: #0B132A;
  text-align: center;
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  margin: 30px 0;
}

.second-part {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}

.inner-second-part {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.third-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.third-part h2 {
  color: #0B132A;
  text-align: center;
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.second-part p {
  color: #4F5665;
  font-size: 14px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.price {
  display: flex;
  align-items: center;
  text-align: end;
  gap: 3px;
}

.price span {
  color: rgba(79, 86, 101, 1);
  font-size: 25px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 30px;
}

.third-part button {
  border-radius: 50px;
  border: 2px solid #F53838;
  background: #FFF;
  padding: 13px 63px;
  color: #F53838;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: 0.6s;
}

.plan-section {
  background: #F8F8F8;
  padding: 80px 0 80px;
}

.third-part button:hover {
  color: rgba(255, 255, 255, 1);
  background: #F53838;
  box-shadow: 0px 32px 21px -14px rgba(245, 56, 56, 0.32);
}

.columns-4 {
  border-radius: 10px;
  border: 2px solid #DDD;
  background: #FFF;
  height: 760px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.columns-4:hover {
  border: 2px solid #F53838;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px 0 0;
  gap: 30px;
}

.title h2 {
  width: 383.406px;
  color: #0B132A;
  text-align: center;
  font-size: 35px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.title p {
  width: 555px;
  color: #4F5665;
  text-align: center;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.map img {
  width: 100%;
  height: 100%;
  padding: 100px 150px;
}

.logo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.logos-row img {
  display: flex;
  justify-content: center;
  width: auto;
}

.logo-cont {
  width: unset;
}

.map-section {
  padding: 0px 50px 50px;
}

.title {
  padding: 50px 0 50px 0;
}

.cards {
  border-radius: 10px;
  border: 2px solid #DDD;
  width: 400px;
  height: 230px;
  padding: 20px;
}

.cards-row {
  display: flex;
  gap: 50px;
  flex-wrap: unset;
}

.name h2 {
  color: #0B132A;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  width: auto;
}

.name span {
  color: #4F5665;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.upper-side {
  display: flex;
  justify-content: space-between;
}

.rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.photo-name {
  display: flex;
  width: 182px;
  height: 50px;
  gap: 10px;
}

.photo-name2 {
  display: flex;
  width: 212px;
  height: 50px;
  gap: 10px;
}

.photo-name3 {
  display: flex;
  width: 212px;
  height: 50px;
  gap: 10px;
}

.rate .star {
  color: rgba(254, 162, 80, 1);
}

.descrip-side {
  width: 340px;
  height: 100px;
}

.descrip-side p {
  width: auto;
  display: flex;
  text-align: left;
}

.profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carusel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
}

.point {
  display: flex;
  gap: 15px;
}

.redpoint {
  border: 1px solid red;
  background: rgba(245, 56, 56, 1);
  border-radius: 50px;
  width: 45px;
  height: 15px;
}

.greypoint {
  border: 1px solid rgba(221, 224, 228, 1);
  background: rgba(221, 224, 228, 1);
  border-radius: 50px;
  width: 15px;
  height: 15px;
}

.arrows {
  display: flex;
  gap: 20px;
}

.arrows button {
  border-radius: 60px;
  border: 2px solid #F53838;
  background: #fff;
  color: #F53838;
  width: 30px;
  height: 30px;
}

.whitearrow button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  transition: 0.6s;
  padding: 15px;
}

.whitearrow button:hover {
  background: #F53838;
  color: #fff;
  box-shadow: 0px 32px 21px -14px rgba(245, 56, 56, 0.32);
}

.redarrow button {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.6s;
  width: 60px;
  height: 60px;
  padding: 15px;
}

.redarrow button:hover {
  background: #F53838;
  color: #fff;
  box-shadow: 0px 32px 21px -14px rgba(245, 56, 56, 0.32);
}

.subscribe-frame {
  width: 1140px;
  height: 233px;
  display: flex;
  justify-content: space-between;
  padding: 58px 70px;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 4px 4px 30px 0px rgba(182, 182, 182, 0.2);
  margin-bottom: -120px;
}

.inner-substitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.inner-substitle h2 {
  width: 371.615px;
  height: 80px;
  color: #0B132A;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
}

.inner-substitle p {
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.uuper {
  display: flex;
  justify-content: center;
}

.inner-subsbutton {
  display: flex;
  align-items: center;
}

.inner-subsbutton button {
  transition: 0.6s;
  border-radius: 10px;
  background: #FFF;
  color: #F53838;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  padding: 17px 65px;
  border: 1px solid #F53838;
}

.inner-subsbutton button:hover {
  background: #F53838;
  color: #fff;
  box-shadow: 0px 32px 21px -14px rgba(245, 56, 56, 0.32);
}

footer {
  background: #F8F8F8;
  padding: 180px 150px 100px;
}

.columns-cont {
  display: flex;
  justify-content: space-between;
}

.column1 {
  display: flex;
  flex-direction: column;
}

.column1 p {
  width: 340px;
  height: 61px;
  margin: 26px 0 0 0;
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.socs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 30px 0 0 0;
}

.socs a {
  width: auto;
}

.copyright p {
  color: #AFB5C0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.column2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column2 a:nth-of-type(1) {
  color: #0B132A;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.column2 a {
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.column3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column3 a:nth-of-type(1) {
  color: #0B132A;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.column3 a {
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.column4 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column4 a:nth-of-type(1) {
  color: #0B132A;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.column4 a {
  color: #4F5665;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
